.cursor-pointer {
  cursor: pointer;
}

.bg-black {
  background-color: black;
  border: none;
}

/* HOME SLIDER */

.control-arrow:hover {
  background: none !important;
}

.legend {
  background-color: transparent !important;
  opacity: 1 !important;
}

.lg-h1 {
  font-size: 86px;
  line-height: 70px;
}

.lg-h2 {
  font-size: 42px;
}

.lg-h3 {
  font-size: 27px;
}

@media (max-width: 1300px) and (min-width: 800px) {
  .lg-h1 {
    font-size: 74px;
  }

  .lg-h2 {
    font-size: 35px;
  }

  .lg-h3 {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .lg-h1 {
    font-size: 25px;
    line-height: 30px;
  }

  .lg-h2 {
    font-size: 15px;
  }

  .lg-h3 {
    font-size: 12px;
  }

  .p-5 {
    padding: 20px !important;
  }
}

.custom-pink {
  color: rgb(246 4 153);
}

.bg-custom-pink {
  background-color: rgb(246 4 153);
}

.img-overlay {
  position: relative;
}

.text-overlay {
  position: absolute;
  bottom: -50px;
  transition-duration: 500ms;
  color: rgba(255, 255, 255, 0);
}

.img-overlay:hover .text-overlay {
  color: rgba(255, 255, 255, 1);
  bottom: 0px;
}

.img-overlay .overlay-fade {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
}

.img-overlay:hover .overlay-fade {
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 500ms;
}

@media (max-width: 800px) {
  .event-list .col-lg-2 {
    text-align: center !important;
  }
  .event-list .col-lg-7 {
    text-align: center;
  }
  .event-list .col-lg-3 {
    text-align: center !important;
  }
}

.video-container {
  overflow: hidden;
  position: relative;
  width:100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.h-450 {
  min-height: 450px;
}

@media (max-width: 1300px) and (min-width: 800px) {
  .h-450 {
    min-height: 400px;
  }
}